
/* DEBuG */
[class*=col-] {
  /* border: 1px solid black; */ */
  min-height: 80px;
}
.blue {
  background-color: #506271;
}
.dark_blue {
  background-color: #2d4353;
}
/* /DEBuG */


/* NAVIGATOR */
.header_top {
  background-color: #2C3F51;
  height: 80px;
}
h2 {
 font-size: 20px;
 color: white;
 cursor: pointer;
 margin: 0;
 padding: 0;
 line-height: 80px;
}
h2:hover {
  color: #19bd9b;
}
span {
  line-height: 80px;
  font-size: 30px;
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
span:hover {
  color: #19bd9b;
  border-color: #19bd9b;
}
ul {
  display: inline-block;
  line-height: 80px;
}
ul li {
  display: inline-block;
  color: white;
  padding-right: 10px;
  cursor: pointer;
}
li:hover {
  color: #19bd9b;
}
/* JUMBOTRON */
.jumbotron {
  background-color: #19bd9b;
}
.jumbotron img {
  width: 200px;
}
.jumbotron h1 {
  color: white;
}
/* MAIN */
h3 {
  text-align: center;
}
.box img {
  width: 100%;
  border-radius: 10%;;
}
.box {
  margin-bottom: 30px;
}
/* SECTION TWO */
#about {
  background-color: #01b1b1;
  color: white;
  padding: 80px;
}
.bottone1 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#buttons {
  background-color: #01b1b1;
  border: 1px solid white;
  color: white;
}
